<a [routerLink]="['/products/add']" class="btn btn-warning">Thêm mới</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of products, let id = index">
        <td>{{id + 1}}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td> 
            <a [routerLink]="[product.id+'/edit']" class="btn btn-primary">Edit</a> | 
            <a [routerLink]="[product.id+'/delete']" class="btn btn-danger">Delete</a> 
        </td>
      </tr>
    </tbody>
  </table>
