<a [routerLink]="['/tours/add']" class="btn btn-warning">Thêm mới</a>
<table class="table" *ngIf = "tours">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let tour of tours, let id = index">
        <td>{{id + 1}}</td>
        <td><a [routerLink]="[ tour.id + '/show']">{{ tour.name }}</a></td>
        <td>{{ tour.price }}</td>
        <td> 
          <a [routerLink]="[tour.id+'/edit']" class="btn btn-primary">Edit</a> | 
          <a [routerLink]="[tour.id+'/delete']" class="btn btn-danger">Delete</a> 
      </td>
      </tr>
    </tbody>
  </table>

